
body {
    background-color: #cccccc;
}

#nj { 
    width: 100%
}

h1 {
    text-align: center;
}

p{
    text-align: center; 
}

em strong {
    color: red
}

#Protagonista {
   color: blue;
   text-align: left;
}
